laboratoria-black = #333333

.btn:hover
    background-color laboratoria-black
    border: 1px solid #F9A91A;
.yellow-btn
    background-color #F9A91A
    color #fff
.dark
    background-color laboratoria-black
.carousel.carousel-slider
    height 100em
#question-view .collapsible-body
    padding 0px
#question-view .collapsible
    margin 0px
