laboratoria-black = #333333

.btn:hover
    background-color laboratoria-black
    border 1px solid #F9A91A;
.yellow-btn
    background-color #F9A91A
    color #fff
.dark
    background-color laboratoria-black
.carousel.carousel-slider
    height 90vh !important
#question-view .collapsible-body
    padding 0px
#question-view .collapsible
    margin 0px

.carousel
    overflow initial
    overflow-x hidden

.carousel.carousel-slider .especial-height.carousel-item
    height initial
    color laboratoria-black

.indicators
    display none

.resize-icon
    font-size: 2.6em !important
