/*Hand*/
.pulse 
  margin-top 25%
  padding 1%
  width 20vw
  height 20vw
  border-radius 50%
  box-shadow 0 0 0 rgba(204,169,44, 0.4)
  animation pulse 2s infinite
  filter invert(100%)
  margin auto

@-webkit-keyframes pulse 
  0% 
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
  
  70% 
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  
  100% 
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0)
  

@keyframes pulse 
  0% 
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4)
  
  70% 
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0)
      box-shadow: 0 0 0 2vw rgba(204,169,44, 0)
  
  100% 
      -moz-box-shadow 0 0 0 0 rgba(204,169,44, 0)
      box-shadow: 0 0 0 0 rgba(204,169,44, 0)
/*search*/
    #search 
    width 20%

/*collapse*/
.collapsible-header
    padding-right 10vw
    
.collapseInside
    background-color #F9A91A !important
    padding-right 0%
    
.collapseInside i
    color #3E3F40 !important
    
/*image of profile*/
.imageProfileTop
    width 80% !important
    margin-bottom 15vw
    
/*button*/
.black-btn
    background-color #3E3F40 !important
    

  
