.col{
  #perfil{
    height: 120px;
  }    
  .contenido{
    padding: 10px 16px 0px;
    max-heigth: 104px;
    padding: 10px 16px 5px;
  }
}
.contiene{
  padding: .75rem;
  position: relative;
  margin: 10px 0 0 0;
}
.image img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top:10px;
  margin-bottom: 5px;
}

.nomAlum{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 2px;
}
.nomEdad, .nomSede{
  margin: 0;
}
.vermas{
  position: absolute;
  bottom: 20%;
  margin-bottom: 20px;
}
.ic-color{
  color: #f9a91a;
}

.collapsible-body p{
  padding: 1rem;
}

.ratyli .rate{
  color: #ccc; 
  font-size: 47px;
  .rate-empty{
    color: #666;
  }
  .rate-active{
    color: #a94039;
  }
}
.ratyli.rated{
  .rate-full{
    color: #f9a91a;
  }
}

nav {
  background-color: $grosc;
}