.login{
  margin-top: 25vh;
}

.icon-color{
  color: $grosc;
}

.input-field{
  color: $grosc;
}

.input-field label {
  color: $grosc;
}

.input-field input[type=text]:focus + label {
  color: $amar;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid $amar;
  box-shadow: 0 1px 0 0 $amar;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid $amar;
  box-shadow: 0 1px 0 0 $amar;
}

.input-field input[type=text].invalid {
  border-bottom: 1px solid $amar;
  box-shadow: 0 1px 0 0 $amar;
}

.input-field .prefix.active {
  color: $amar;
}

.waves-effect.waves-amar .waves-ripple {
      background-color: #ffcd4d;
}

.btn-large{
  background-color: $amar !important;
}
