@import 'variable.styl';
@import 'styles.styl'
@import 'estudiante.styl'
@import 'perfil.styl'
@import 'empezar.styl'
@import 'empezar2.styl'
@import 'navbar.styl'
@import 'login.styl'
@import 'creditos.styl'