.button-collapse {
  float: right !important;
}

.btn-logout {
  background-color: $amar;
}
.btn-logout:hover{
  background-color: $grosc !important;
}
.side-nav {
  a{
    font-weight: 400 !important;
  }
}