.nav-wrapper{
	i{
		display: inline-block;
	}
}

#menu{
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 40%;
  left: 0;
  background-color: white;
  z-index: 3;
}

.absolute{
  background-color: rgba(0,0,0,.6);
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0;
  left: 0;
}

.none{
  display: none;
}