.bg-header{
	background-color: $grosc;
	color: $wh;
  padding: 13px 1rem;
 
	i{
		color: $amar;
  font-size: 2rem;  
	}
}

.collapsible-body {
  padding:20px;
  .question{
    margin: 10px 0px;
    border: 1px solid $amar;
    padding: 5px;
    color: $grosc;
    text-align:center;
    .small{
      color: $grosc;
    }
  }
}

.collapsible-header{
  font-size: 1.08rem;
  padding-top: 2%;
  border-radius: 4px;
}

.color-icons{
  color: #f9a91a;
}

.collapsible {
  border-top: 0.5px;
  border-left: 0.5px;
  border-right: 0.5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
}

.img-profile{
  width: 30vh;
  height: 30vh;
} 

.name{
  color: #f9a91a;
}

.years{
  color: #3E3F40;
  font-size: 16px;
  margin-bottom: -10px;
}

