body{
  font-family: "proxima-nova";
}

.bg-header{
	background-color: $grosc;
	color: $wh;
  padding: 13px 1rem;

	i{
		color: $amar;
  font-size: 2rem;
	}
}

.subtitle{
  color: black;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.collapsible-body {
  padding:20px;
  background-color: #F5F5F5;
  p {
    padding-left: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
  }
  .question{
    margin: 10px 0px;
    padding: 5px;
    color: $grosc;
    h6 {
      color: $amar;
    }
		.info {
			font-size: 14px;
			color: gray;
			margin-left: 5px;
			cursor: pointer;
		}
  }
}

.collapsible-header{
  font-size: 1.08rem;
  padding-top: 2%;
  border-radius: 4px;
}

.color-icons{
  color: #f9a91a;
}

.collapsible {
  border-top: 0.5px;
  border-left: 0.5px;
  border-right: 0.5px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
}

.img-profile {
  height: 30vh;
}

.name{
  color:black;
  margin-bottom: 0;
  font-family: "proxima-nova";
}

.profile p{
  margin: 0;
  font-family: "proxima-nova";
}

.profile a{
  color: #f9a91a;
  margin-top: 1em;
  display: block;
  font-family: "proxima-nova";
}

.resize-icon{
  font-size: 2em !important;
}

.star{
  cursor: pointer;
  transition: .3s;
	font-size: 3rem;
}

.star:hover{
  color: #f9a91a;
}

.seleccionado{
  color: #F9A91A;
}
