.container .row .space
	padding: 0;
.container .row .space .nameSede
	margin-top: 0.3rem;
.container .row .contiene .margin
	margin: 0 !important;
.margin-o
	margin: 0;
.top
	margin-top: 0;
.row .pdg 
	padding-top: 0.4em;
.row .pdg-top
	padding-top: 1.8em;	