.logolaboratoria{
  max-width:150px;
  margin-top:20px;
  @media screen and (max-width:600px){
  	margin-top:13px;
  }
}

.atras{
  color: $amar;
  .fa-chevron-left {
    font-size: 30px;
    @media screen and (max-width:600px){
  		margin-top:13px;
  	}
  }
}
.bg-gray{
	background-color: #3E3F40;
}
.logs {
    max-width: 200px;
}
.logo{
	margin-top: 30px;
	color: #F9A91A;
}
.title {
  font-size: 1.5rem;
	margin-top: 3vh;
  color: $wh; 
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}
.entero {
    max-width: 200px;
}

@keyframes logo-animation {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.logo2{
	animation: logo-animation 3200ms 1500ms;
}


.pointer {
  cursor: pointer;
}

.title-awesome{
  font-size: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.box{
  margin-top: 20vh;
}

@keyframes yellow-fade-in-out{
  0% {
    opacity: none;
  }
    40% {
    opacity: none;
  }
    50% {
    opacity: none;
  }
    75% {
    opacity: none;
  }
    76%{
    opacity: none;
  }
}

#fade h1{
  animation: fadein 4200ms;
}

@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

