.logolaboratoria{
  max-width:150px;
  margin-top:20px;
  @media screen and (max-width:600px){
  	margin-top:13px;
  }
}

.atras{
  color: $amar;
  .fa-chevron-left {
    font-size: 30px;
    @media screen and (max-width:600px){
  		margin-top:13px;
  	}
  }
}
.bg-gray{
	background-color: #3E3F40;
}
.logs {
    max-width: 200px;
}
.logo{
	margin-top: 30vh;
	color: #F9A91A;
}
.title {
  font-size: 2.2rem;
	margin-top: 15vh;
}
.entero {
    max-width: 200px;
}
@keyframes logo-animation {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.logo2{
	animation: logo-animation 2200ms 1300ms;
}

.pointer {
  cursor: pointer;
}